build/
devel/
install/
log/
.catkin_tools/
.git/

*.bag
*.pcd
*.pyc
__pycache__/
.ros/
.vscode/

arena_ws/src/forks/arena-tools/map_to_gazebo/example-videos/
arena_ws/src/arena-rosnav-3D/simulator_setup/robot/agv-ota/meshes/OTAv07_meshes/OTA-v0.7.stl
