[submodule "src/localization_fastlio/FAST_LIO"]
	path = src/localization_fastlio/FAST_LIO
	url = https://github.com/Doribelove/FAST_LIO.git
[submodule "src/navigation_arena/arena-rosnav-3D"]
	path = src/navigation_arena/arena-rosnav-3D
	url = https://github.com/Doribelove/arena-rosnav-3D.git
[submodule "src/navigation_arena/forks/arena-evaluation"]
	path = src/navigation_arena/forks/arena-evaluation
	url = https://github.com/ignc-research/arena-evaluation.git
[submodule "src/navigation_arena/forks/arena-tools"]
	path = src/navigation_arena/forks/arena-tools
	url = https://github.com/ignc-research/arena-tools.git
[submodule "src/navigation_arena/forks/gazebo_ros_2Dmap_plugin"]
	path = src/navigation_arena/forks/gazebo_ros_2Dmap_plugin
	url = https://github.com/Doribelove/gazebo_ros_2Dmap_plugin.git
[submodule "src/navigation_arena/forks/navigation/local_planner/mpc"]
	path = src/navigation_arena/forks/navigation/local_planner/mpc
	url = https://github.com/rst-tu-dortmund/mpc_local_planner.git
[submodule "src/navigation_arena/forks/navigation/local_planner/teb"]
	path = src/navigation_arena/forks/navigation/local_planner/teb
	url = https://github.com/ignc-research/teb.git
[submodule "src/navigation_arena/forks/navigation/msgs/ford"]
	path = src/navigation_arena/forks/navigation/msgs/ford
	url = https://bitbucket.org/acl-swarm/ford_msgs.git
[submodule "src/navigation_arena/forks/pedsim_ros"]
	path = src/navigation_arena/forks/pedsim_ros
	url = https://github.com/Doribelove/pedsim_ros.git
[submodule "src/navigation_arena/forks/robots"]
	path = src/navigation_arena/forks/robots
	url = https://github.com/Doribelove/3d_support_packages.git
[submodule "src/navigation_arena/forks/stable-baselines3"]
	path = src/navigation_arena/forks/stable-baselines3
	url = https://github.com/ignc-research/stable-baselines3.git
[submodule "src/perception_livox/Livox-SDK2"]
	path = src/perception_livox/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "src/perception_livox/livox_ros_driver2"]
	path = src/perception_livox/livox_ros_driver2
	url = https://github.com/Doribelove/livox_ros_driver2.git
