<launch>
  <arg name="gui" default="false"/>
  <arg name="run_label" default="simplified_online_unsplit"/>
  <arg name="result_dir"/>

  <include file="$(find coverage_gz_sim)/launch/baseline.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="run_label" value="$(arg run_label)"/>
    <arg name="result_dir" value="$(arg result_dir)"/>
    <arg name="online_hybrid_without_precompute" value="true"/>
    <arg name="hybrid_replan_every_cycle" value="true"/>
    <arg name="teb_reinitialize_on_global_plan" value="true"/>
  </include>
</launch>
