<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="jackal"/>
  <arg name="local_planner" default="rosnav"/>
  <arg name="agent_name" default="jackal_new"/>
  <arg name="map_file" default="/home/robot/arena_ws/src/arena-rosnav-3D/map/map.yaml"/>

  <param name="train_mode" value="false" />
  <param name="show_viz" value="true" />
  
  <rosparam file="$(find arena_bringup)/launch/sublaunch_testing/robot_params/$(arg model)_params.yaml" command="load" />

  <param name="model" value="$(arg model)" />

  <param name="use_sim_time" value="false"/>
  <param name="real" value="true"/>
  <param name="agent_name" value="$(arg agent_name)"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find simulator_setup)/robot/$(arg model)/urdf/$(arg model).urdf.xacro"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
  <include file="$(find arena_bringup)/launch/sublaunch_testing/amcl_dingo.launch"/>

  <include file="$(find arena_bringup)/launch/sublaunch_testing/move_base/move_base_$(arg local_planner).launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="cmd_vel_topic" value="/cmd_vel"/> 
  </include>

  <node pkg="eval" name="viz_path" type="viz_path.py" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arena_bringup)/rviz/nav_LP.rviz"/>
</launch>
