<launch>
  <arg name="localization_source" default="fast_lio"/>
  <arg name="local_planner" default="teb"/>
  <arg name="model" default="dingo"/>
  <arg name="goal_slowdown_enabled" default="$(eval arg('localization_source') == 'gps')"/>
  <arg name="odom_topic" default="$(eval '/gps/odom' if arg('localization_source') == 'gps' else '/Odometry')"/>
  <arg name="cmd_vel_topic" default="$(eval '/cmd_vel_navigation' if arg('goal_slowdown_enabled') else '/cmd_vel')"/>
  <arg name="xy_goal_tolerance" default="$(eval 0.5 if arg('localization_source') == 'gps' else 0.5)"/>
  <arg name="yaw_goal_tolerance" default="$(eval 6.283 if arg('localization_source') == 'gps' else 0.3)"/>
  <arg name="max_vel_x" default="1.2"/>
  <arg name="max_vel_x_backwards" default="1.2"/>
  <arg name="min_vel_x" default="0.0"/>
  <arg name="min_vel_x_backwards" default="0.0"/>
  <arg name="penalty_epsilon" default="$(eval 0.03 if arg('localization_source') == 'gps' else 0.1)"/>
  <arg name="weight_kinematics_forward_drive" default="$(eval 20.0 if arg('localization_source') == 'gps' else 500.0)"/>
  <arg name="teb_profile_file" default=""/>
  <arg name="goal_slowdown_decel" default="0.4"/>
  <arg name="goal_slowdown_min_speed" default="0.15"/>
  <arg name="goal_slowdown_cmd_timeout" default="0.5"/>
  <arg name="goal_slowdown_odom_timeout" default="1.0"/>

  <include file="$(find arena_bringup)/launch/real_nav_nomap.launch">
    <arg name="localization_source" value="$(arg localization_source)"/>
    <arg name="local_planner" value="$(arg local_planner)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <arg name="xy_goal_tolerance" value="$(arg xy_goal_tolerance)"/>
    <arg name="yaw_goal_tolerance" value="$(arg yaw_goal_tolerance)"/>
    <arg name="max_vel_x" value="$(arg max_vel_x)"/>
    <arg name="max_vel_x_backwards" value="$(arg max_vel_x_backwards)"/>
    <arg name="min_vel_x" value="$(arg min_vel_x)"/>
    <arg name="min_vel_x_backwards" value="$(arg min_vel_x_backwards)"/>
    <arg name="penalty_epsilon" value="$(arg penalty_epsilon)"/>
    <arg name="weight_kinematics_forward_drive" value="$(arg weight_kinematics_forward_drive)"/>
    <arg name="teb_profile_file" value="$(arg teb_profile_file)"/>
  </include>

  <node if="$(arg goal_slowdown_enabled)"
        pkg="robot_bringup"
        type="gps_goal_speed_limiter.py"
        name="gps_goal_speed_limiter"
        output="screen">
    <param name="input_cmd_topic" value="$(arg cmd_vel_topic)"/>
    <param name="output_cmd_topic" value="/cmd_vel"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="goal_topic" value="/move_base/current_goal"/>
    <param name="cancel_topic" value="/move_base/cancel"/>
    <param name="comfortable_decel" type="double" value="$(arg goal_slowdown_decel)"/>
    <param name="goal_tolerance" type="double" value="$(arg xy_goal_tolerance)"/>
    <param name="min_approach_speed" type="double" value="$(arg goal_slowdown_min_speed)"/>
    <param name="cmd_timeout" type="double" value="$(arg goal_slowdown_cmd_timeout)"/>
    <param name="odom_timeout" type="double" value="$(arg goal_slowdown_odom_timeout)"/>
  </node>
</launch>
