<?xml version="1.0"?>
<launch>
  <arg name="world"/>
  <arg name="gui" default="false"/>
  <arg name="seed" default="42"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <include file="$(find m2_gazebo)/launch/spawn_m2.launch">
    <arg name="world" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="seed" value="$(arg seed)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="yaw" value="$(arg yaw)"/>
    <arg name="enable_actuator_dynamics" value="true"/>
    <arg name="command_delay" value="0.08"/>
    <arg name="command_jitter" value="0.015"/>
    <arg name="laser_topic" value="/v2/scan_raw"/>
    <arg name="laser_noise_stddev" value="0.0"/>
  </include>
  <node pkg="m2_gazebo" type="v2_scan_transport.py" name="v2_scan_transport"
        output="screen" required="true">
    <param name="input_topic" value="/v2/scan_raw"/>
    <param name="output_topic" value="/scan"/>
    <param name="delay_s" value="0.06"/>
    <param name="jitter_s" value="0.01"/>
    <param name="noise_stddev_m" value="0.01"/>
    <param name="seed" value="$(arg seed)"/>
  </node>
</launch>
